name: Docker Image CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo ${DOCKER_PASSWORD} | docker login -u ${DOCKER_USERNAME} --password-stdin
          TAG="arc-runners"
          DOCKERNAME="infraway/${{ github.event.repository.name }}:${TAG}"
          docker build . -t ${DOCKERNAME} -f Dockerfile.new
          docker push ${DOCKERNAME}
          TAG="arc-runners-tests"
          DOCKERNAME="infraway/${{ github.event.repository.name }}:${TAG}"
          docker build . -t ${DOCKERNAME} -f Dockerfile.tests.new
          docker push ${DOCKERNAME}
          docker logout
